  
    nav {
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3b524f; 
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

     nav a {
      color: white; 
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
    }
       footer {
      text-align: center;
      padding: 10px;
      background-color: #3d5049;
      color: white;
      font-size: 0.9rem;
      margin-top: 40px;
      border-top: 4px solid #a7d7c5;
      
    }
nav a.active {
  color: #a7d7c5; 
  border-bottom: 3px solid #a7d7c5;
  padding-bottom: 5px;
}
  body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(to bottom right, #f4f4f4, #e3f0ea);
      color: #2c3e50;
      margin: 0;
      padding: 0;
      line-height: 1.2;
    }
